.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 4%;
}

.AdminLogoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.AdminLogoDiv-logo {
  width: 160px;
}

.AdminLogoDiv-logoText {
  color: #82ae46;
  font-size: 10px;
  font-weight: 600;
}


.navbar .profile {

  border-radius:20px;
  cursor:pointer;
  margin-top: 5px;
width: 50px;    /* or any value like 50%, 10rem, etc. */
   border-radius: 10px; /* optional styling */
}
.profile {
  width: 50px;       /* Adjust to make it smaller/larger */
  height: 50px;
  border-radius: 50%;  /* Makes it round */
  object-fit: cover;   /* Prevents stretching */
}
